<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">

</head>
<body>
    

<% data.forEach(element=>{ %>  
<div class='card'>
    <h1><%=element.country  %> </h1>
<p>totalconfirmed<%=element.totalconfirmed  %></p>
<p>totaldeaths<%=element.totaldeaths  %></p>
<p>totalrecovered<%=element.totalrecovered  %></p>
<p>date<%=element.date  %></p>
<form action="/myRecords" method="POST">
    <input type="hidden" name="country" value="<%=element.country  %>">
    <input type="hidden" name="totalconfirmed" value="<%=element.totalconfirmed  %>">
    <input type="hidden" name="totaldeaths" value="<%=element.totaldeaths  %>">
    <input type="hidden" name="totalrecovered" value="<%=element.totalrecovered  %>">
    <input type="hidden" name="date" value="<%=element.date  %>">

<input type="submit" value="add-to-my-records">
</form>
 </div> 
 <% }); %> 


</body>
</html>